<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title> 
  </head>
  <body>
        <h1 id="bioLabel">William James Linstead, Animal Enthusiast & Computer Addict</h1>
        <p id="bio">I am a beginner computer programmer, studying computer programming and analysis at Georgian
          College.  I enjoy the development of software, as well as the design of websites, such as this one.
          While I do enjoy developing and styling websites and applications, I also enjoy spending time with my pets.  When I am not typing away at a keyboard to create software applications, I would be at home 
          Alongside my parents, I help take care of two cats and a dog whom accompany me every day of the week. 
        </p>
        <p id="bio">I have experience with multiple different programming languages, such as python, CSS, and Java
          During my time at Georgian College I have been given the chance to get  knowledge on a wide variety of programming languages,
          which has greatly helpful with creating many different applications and projects throughout my educational career.
          Typically, I am more of a work-alone type of person, which is the reason when doing projects, I prefer them to be
          single student oriented.  This helps me focus and manage my work and organize my thoughts on how to complete the task.
        </p>
        <p id="bio">
          Below this short bio are the photos of each of my previously mentioned furry companions, whom help me focus, and de-stress daily.
        </p>
    <div class="grid-container" id="Pets">
      <div class="grid-item"id="label1">My Dog, Lola</div>
      <div class="grid-item"id="label1">My Cat, Ally</div>
      <div class="grid-item"id="label1">My Other Cat, Milly</div>
      <div class="grid-item"id="lola"><img src="/images/lola.jpg" width="460px" height="600px"></div>
      <div class="grid-item"id="ally"><img src="/images/ally.jpg" width="460px" height="500px"></div>
      <div class="grid-item"id="milly"><img src="/images/milly.jpg" width="460px" height="600px"></div>
    </div>
    {{{body}}}
    </body>
</html>
