<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="grid-container" id="Contact">
        <div class="grid-item1">Contact Me <i class="fa fa-address-book"></i></div>
        <div class="grid-item2">My Email <i class="fa fa-mail-reply-all"></i></div>
        <div class="grid-item3">200529417@student.georgianc.on.ca</div>
        <div class="grid-item4">My Phone Number <i class="fa fa-mobile-phone"></i></div>
        <div class="grid-item5">705-817-6515</div>
    </div>
    {{{body}}}
  </body>
</html>