<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
  </head>


  <body>
    <div>
        <p>Hello, this is the home page!</p>
    </div>
    <img src="/images/me.jpg" width="460px" height="600px">
    {{{body}}}

  </body>
</html>
