<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
  </head>
  <body>
      <h1 id="introLabel">Hello <i class="fa fa-signing"></i></h1>
      <p id="intro">Welcome to my express portfolio!  In order to view the rest of the website, simply
        click on each button within the navbar at the top. If you wish to return to this page,
        click the "Home" button at the top.  At the bottom, there are external links to my Github Profile, as well as
        my LinkedIn profile.
      </p>
    <img id="mugshot" src="/images/me.jpg" width="460px" height="600px">
    {{{body}}}

  </body>
</html>
